.pro{
    overflow: hidden;
    line-height: 19px;
    /* height: 70%; */
    /* float: right; */
    font-size: 22px;
}
.spacecome{
    padding: 1% 1% 1% 1%;
    overflow: hidden;
    /* position: relative; */
    width: 52.8%;
    height: 3.65%;
    left: 29%;
    top: 23.2%;
    background: #000000;
    border-style: none;
    border-radius: 0px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    /* font-size: 28px; */
    line-height: 73px;
    text-align: center;
    color: white;
    text-decoration: none;
    float: initial;
}
.quest{
    overflow: hidden;
    line-height: 31px;
    break-after: auto;
    padding: 10% 55% 0% 35%;
    font-weight: 0px;
    font-size: 24px;
}
.question{
    overflow: hidden;
    line-height: 35px;
    break-after: auto;
    padding: 0% 0% 0% 0%;
    font-weight: 0px;
    font-size: 21px;
}
.TBNT{
    padding: 16% 10% 16% 11%;
}
.KK{
    padding: 1% 1% 10% 0%;
}
.spacecomes{
    padding: 1% 1% 1% 1%;
    overflow: hidden;
    /* position: relative; */
    width: 52.8%;
    height: 3.65%;
    left: 29%;
    top: 23.2%;
    background: #000000;
    border-style: none;
    border-radius: 0px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    /* font-size: 28px; */
    line-height: 73px;
    text-align: center;
    color: white;
    text-decoration: none;
    float: initial;
}